body {
  background-image: url('sky.jpg');
  text-align: center;
}

.main {
  margin: 0;
  padding: 40px;
  color: #760DFF;
  font-family: Merienda, fantasy;
  font-weight: bold;
}

.main h1 {
  font-size: 150px;
  margin: auto;
}

h1:hover {
  color: #68197D;
}

.main input {
  width: 25%;
  top: 6px;
  padding: 10px;
}

.main button {
  width: 10%;
  top: 6px;
  padding: 10px;
}

input:hover, button:hover {
  background-color: #68197D;
}

.tag {
  font-size: 10px;
  letter-spacing: 2px;
  margin: 5px;
  text-transform: uppercase;

}
.google img {
  width: 7%;
  top: 6px;
}
